<!DOCTYPE html>
<html lang="en">
<head>
    <title>login</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
    <!-- using common header -->
    <%- include('common/header'); %>
    <h1> login page </h1>
    <h1> email:  </h1>
</body>
</html>