<!DOCTYPE html>
<html lang="en">
<head>
    <title>about</title>
    <style>
        h1 {
            color: red;
        }
    </style>
</head>
<body>
     <!-- using common header -->
     <%- include('common/header'); %>
    <h1> about page </h1>
    <h1> email:  </h1>
    <h1> name: <%= user.name  %> </h1>
    <h1> name: <%= user.email  %> </h1>
    <% user.hobbies.forEach((hobby) => { %>
        <li>  <%= hobby %></li>
    <% }) %>
</body>
</html>